In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import numpy as np
import os

In [2]:
# Read the sales data
file_path = r"full_income_data.csv"
file_path2 = r"mltest2.csv"
file_path3 = r"mltest3.csv"
df_income = pd.read_csv(file_path)
mltest2 = pd.read_csv(file_path2)
mltest3 = pd.read_csv(file_path3)

# Display sample data
df_income.head()

,NAME,Income,state,place,Industry,Year,Sex
0,"Missouri City city, Texas",156105,48,48804,"Agriculture, forestry, fishing and hunting, an...",2014,Male
1,"League City city, Texas",152357,48,41980,"Agriculture, forestry, fishing and hunting, an...",2014,Male
2,"Tracy city, California",150026,6,80238,"Agriculture, forestry, fishing and hunting, an...",2014,Male
3,"Fall River city, Massachusetts",145450,25,23000,"Agriculture, forestry, fishing and hunting, an...",2014,Male
4,"Peoria city, Arizona",126689,4,54050,"Agriculture, forestry, fishing and hunting, an...",2014,Male

In [3]:
#predicting only using Industry
y = df_income['Income']
X = df_income.drop(columns=['Income', 'state', 'NAME', 'place', 'Year', 'Sex'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 512884401.3558897
R-squared: 0.2783309771356265

In [4]:
#predicting industry and sex
y = df_income['Income']
X = df_income.drop(columns=['Income', 'state', 'NAME', 'place', 'Year'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 478013951.5663466
R-squared: 0.3273964651090049

In [5]:
#predicting industry, sex, and state
y = df_income['Income']
X = df_income.drop(columns=['Income', 'NAME', 'place', 'Year'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 473864657.87345666
R-squared: 0.33323485036113776

In [6]:
#predicting industry, sex, state, year
y = df_income['Income']
X = df_income.drop(columns=['Income', 'NAME', 'place'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 454603250.0715418
R-squared: 0.36033717850886915

In [7]:
#predicting industry, sex, state, year, citystate
y = df_income['Income']
X = df_income.drop(columns=['Income', 'place'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 350414408.7274092
R-squared: 0.5069391401349497

In [41]:
#year_city_industry = df_income.copy()

In [42]:
#year_city_industry = year_city_industry.drop(columns=['Income', 'place'])

In [43]:
#year_city_industry.head()

In [44]:
# y = df_income['Income']
# X = year_city_industry
# X = pd.get_dummies(X)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# model = LinearRegression()
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)
# print(f"Mean Squared Error: {mse}")
# print(f"R-squared: {r2}")

In [8]:
mltest2

,NAME,Income,state,place,Industry,Year,Sex,Class of Worker,Worker Count
0,"Anchorage municipality, Alaska",82147.0,2.0,3000.0,"Agriculture, forestry, fishing and hunting, an...",2005.0,Male,Employee of private company workers,1972
1,"Anchorage municipality, Alaska",31860.0,2.0,3000.0,"Agriculture, forestry, fishing and hunting, an...",2005.0,Female,Employee of private company workers,1972
2,"Mesa city, Arizona",50740.0,4.0,46000.0,"Agriculture, forestry, fishing and hunting, an...",2005.0,Male,Employee of private company workers,510
3,"Mesa city, Arizona",50271.0,4.0,46000.0,"Agriculture, forestry, fishing and hunting, an...",2005.0,Female,Employee of private company workers,510
4,"Phoenix city, Arizona",17170.0,4.0,55000.0,"Agriculture, forestry, fishing and hunting, an...",2005.0,Male,Employee of private company workers,1773
...,...,...,...,...,...,...,...,...,...
124562,"Seattle city, Washington",77847.0,53.0,63000.0,Public administration,2022.0,Female,Self-employed in own not incorporated business...,27521
124563,"Madison city, Wisconsin",67663.0,55.0,48000.0,Public administration,2022.0,Male,Self-employed in own not incorporated business...,12911
124564,"Madison city, Wisconsin",75354.0,55.0,48000.0,Public administration,2022.0,Female,Self-employed in own not incorporated business...,12911
124565,"Milwaukee city, Wisconsin",58343.0,55.0,53000.0,Public administration,2022.0,Male,Self-employed in own not incorporated business...,40280
124566,"Milwaukee city, Wisconsin",52272.0,55.0,53000.0,Public administration,2022.0,Female,Self-employed in own not incorporated business...,40280

In [9]:
y = mltest2['Income']
X = mltest2.drop(columns=['Income', 'Worker Count'])
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 116352001.15847166
R-squared: 0.5941955514658492

In [10]:
mltest3

,NAME,Income,state,place,Industry,Year,Sex,Class of Worker,Worker Count,Income by Class Worker
0,"Anchorage municipality, Alaska",82147.0,2.0,3000.0,"Agriculture, forestry, fishing and hunting, an...",2005,Male,Employee of private company workers,1972,31685.0
1,"Anchorage municipality, Alaska",31860.0,2.0,3000.0,"Agriculture, forestry, fishing and hunting, an...",2005,Female,Employee of private company workers,1972,31685.0
2,"Mesa city, Arizona",50740.0,4.0,46000.0,"Agriculture, forestry, fishing and hunting, an...",2005,Male,Employee of private company workers,510,27848.0
3,"Mesa city, Arizona",50271.0,4.0,46000.0,"Agriculture, forestry, fishing and hunting, an...",2005,Female,Employee of private company workers,510,27848.0
4,"Phoenix city, Arizona",17170.0,4.0,55000.0,"Agriculture, forestry, fishing and hunting, an...",2005,Male,Employee of private company workers,1773,26172.0
...,...,...,...,...,...,...,...,...,...,...
124562,"Seattle city, Washington",77847.0,53.0,63000.0,Public administration,2022,Female,Self-employed in own not incorporated business...,27521,44915.0
124563,"Madison city, Wisconsin",67663.0,55.0,48000.0,Public administration,2022,Male,Self-employed in own not incorporated business...,12911,37118.0
124564,"Madison city, Wisconsin",75354.0,55.0,48000.0,Public administration,2022,Female,Self-employed in own not incorporated business...,12911,37118.0
124565,"Milwaukee city, Wisconsin",58343.0,55.0,53000.0,Public administration,2022,Male,Self-employed in own not incorporated business...,40280,27195.0
124566,"Milwaukee city, Wisconsin",52272.0,55.0,53000.0,Public administration,2022,Female,Self-employed in own not incorporated business...,40280,27195.0

In [23]:
y = mltest3['Income']
columns_to_scale = ['Worker Count', 'Income by Class Worker']
scaler = StandardScaler()
mltest3[columns_to_scale] = scaler.fit_transform(mltest3[columns_to_scale])
X = pd.get_dummies(mltest3.drop(columns=['Income']))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 115051143.1130713
R-squared: 0.5987325940304711