In [281]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import os

In [282]:
# Read the sales data
file_path = r"full_income_data.csv"
df_income = pd.read_csv(file_path)

# Display sample data
df_income.head()

,NAME,Income,state,place,Industry,Year,Sex
0,"Missouri City city, Texas",156105,48,48804,"Agriculture, forestry, fishing and hunting, an...",2014,Male
1,"League City city, Texas",152357,48,41980,"Agriculture, forestry, fishing and hunting, an...",2014,Male
2,"Tracy city, California",150026,6,80238,"Agriculture, forestry, fishing and hunting, an...",2014,Male
3,"Fall River city, Massachusetts",145450,25,23000,"Agriculture, forestry, fishing and hunting, an...",2014,Male
4,"Peoria city, Arizona",126689,4,54050,"Agriculture, forestry, fishing and hunting, an...",2014,Male

In [287]:
#predicting only using Industry
y = df_income['Income']
X = df_income.drop(columns=['Income', 'state', 'NAME', 'place', 'Year', 'Sex'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 512887155.23218334
R-squared: 0.2783271022133075

In [288]:
#predicting industry and sex
y = df_income['Income']
X = df_income.drop(columns=['Income', 'state', 'NAME', 'place', 'Year'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 478018579.2955663
R-squared: 0.32738995352702804

In [289]:
#predicting industry, sex, and state
y = df_income['Income']
X = df_income.drop(columns=['Income', 'NAME', 'place', 'Year'], axis=1)
X = pd.get_dummies(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 473882522.7528088
R-squared: 0.33320971305925917